html {
  font-size: calc(100vw / (1920 / 10));
}

@media only screen and (max-width: 500px) {
  html {
    font-size: calc(100vw / (440 / 10));
  }
}

.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(95deg, #44dd5b -19.5%, #10bc2b 94.83%);
}

.wrapper {
  max-width: 44rem;
  width: 100%;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.5rem 0 8rem 0;
}

.navbarHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.8rem;
}

.navbarHeader img {
  width: 2.7rem;
}

.navbarHeader p {
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.stepImg {
  width: 22.313rem;
  margin-bottom: 3rem;
}

.lastPageText {
  width: 30.6rem;
  margin-bottom: 2.2rem;
}

.lastButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.tgChannel {
  width: 29.3rem;
  height: 6.3rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: none;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  z-index: 1;
  animation: pulseOut2 2s ease-out infinite;
}

.neon_pulse {
  background: linear-gradient(92.86deg, #c9e331 -6.54%, #54a31f 96.73%);
  overflow: visible;
}

.neon_pulse::before,
.neon_pulse::after {
  content: "";
  position: absolute;
  inset: -0.4rem;
  border: 0.2rem solid green;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.neon_pulse::after {
  animation-delay: 1s;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}

@keyframes pulseOut2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.tgChannel img {
  width: 19.75rem;
}

.tgChannel:active {
  transform: scale(0.97);
}

.descMain {
  width: 29.3rem;
  height: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-width: 0px, 2px, 0px, 2px;
  background: linear-gradient(92.86deg, #c9e331 -6.54%, #54a31f 96.73%);
}

.descChild {
  width: 28.9rem;
  height: 5.3rem;
  border-radius: 1rem;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descChild p {
  width: 23.6rem;
  text-align: center;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-style: Regular;
  font-size: 1.3rem;
  line-height: 1.4rem;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.8);
}

.lastPromo {
  width: 28rem;
  font-family: "TT Firs Neue";
  font-weight: 300;
  font-style: Light;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3.8rem;
}

.dateOfConversation {
  width: 28.017rem;
  margin-bottom: 5.852rem;
}

.footerDesc {
  width: 31.9rem;
  text-align: center;
  font-family: "TT Firs Neue";
  font-weight: 400;
  font-style: Regular;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
